<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="<%= path %>stylesheets/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <div class="icon-container">
            <a
                href="/login"
                data-target="slide-out"
                class="sidenav-trigger right"
                ><i
                    class="material-icons"
                    style="font-size: 70px; color: #ffffff; margin: 10px"
                    >account_circle</i
                ></a
            >
        </div>
        <%-include('header')%>
        <div class="container mx-auto p-4">
            <div
                class="input-field-container"
                style="display: flex; align-items: center"
            >
                <div class="input-field" style="width: 85%">
                    <input
                        type="text"
                        id="search"
                        required
                        autocomplete="off"
                    />
                    <label for="search">검색어 입력란</label>
                </div>
                <div class="button-container" style="width: 15%">
                    <button
                        class="waves-effect waves-light btn"
                        id="searchbtn"
                        style="width: 100%"
                    >
                        검색
                    </button>
                </div>
            </div>

  </head>
  <body>
    <% if(!isLogin) { %>
    <div class="icon-container">
      <a href="/login" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons"
          style="font-size: 70px; color: #ffffff; margin: 10px;">account_circle</i></a>
    </div>
    <% } else { %>
      <div class="icon-container">
        <a href="/myPage" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons"
            style="font-size: 70px; color: #ffffff; margin: 10px;">account_circle</i></a>
      </div>
      <% } %>
    <%-include('header')%>
    <div class="container mx-auto p-4">
      <div class="input-field-container" style="display: flex; align-items:center">
        <div class="input-field" style="width: 85%;">
          <input type="text" id="search" required autocomplete="off">
          <label for="search">검색어 입력란</label>
        </div>
        <%-include('footer')%>
    </body>
    <script src="<%= path %>javascripts/main.js"></script>
</html>
