<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="<%= path %>stylesheets/style.css" />
    <style>
        footerOrder {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 20px;
            z-index: 1;
            background-color: #ffffff;
        }
    </style>
</head>

<body>

    <%-include('header')%>
        <div class="container mx-auto p-4">
            <div class="input-field-container" style="display: flex; align-items: center">
                <div class="input-field" style="width: 85%">
                    <input type="text" id="searchInputValue" required autocomplete="off" />

                    <label for="search">검색어 입력란</label>
                </div>
                <div class="button-container" style="width: 15%">
                    <button class="waves-effect waves-light btn" id="searchbtn" style="width: 100%">검색</button>
                </div>
            </div>

            <div id="category-container" class="grid grid-cols-3 gap-6"></div>
        </div>
        <footerOrder id="footerOrder" style="display: none;">
            <p>장바구니로 이동</p>
        </footerOrder>
        <%-include('footer')%>
            <% if(data.isLogin) { %>
                <div id="userId" data-user-id="<%=data.user.id%>"></div>
                <% } %>
</body>
<script src="<%= path %>javascripts/main.js"></script>

</html>