<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Store Management</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="<%= path %>stylesheets/style.css" />
        <style>
            .image-placeholder {
                background-color: #e2e8f0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #64748b;
                font-size: 1.5rem;
                font-weight: bold;
            }

            .menu-card {
                background: #ffffff;
                border-radius: 0.5rem;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            }

            footerOrder {
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: 20px;
                z-index: 1;
                background-color: #ffffff;
            }

            .star-rating input[type='radio'] {
                display: none;
            }

            .star-rating label {
                color: #ccc;
                font-size: 24px;
            }

            .star-rating input[type='radio']:checked ~ label {
                color: #ffc107;
            }

            .star-rating label:hover,
            .star-rating label:hover ~ label,
            .star-rating input[type='radio']:focus ~ label {
                color: #ffeb3b;
            }

            .tab_btn {
                font-size: 20px;
                font-weight: bold;
            }
            .info_tab {
                margin-top: 30px;
            }
            #myreview {
                width: 100%;
            }
            .review_box {
                width: 780px !important;
            }
            .review_wrap {
                width: 1000px;
                padding: 0 100px 0 100px;
            }
        </style>
    </head>

    <body>
        <%-include('header')%>
        <div class="max-w-4xl mx-auto p-8">
            <div class="bg-white shadow-md rounded p-6">
                <div class="flex flex-col lg:flex-row gap-6">
                    <div class="image-placeholder w-full lg:w-1/2 h-64 rounded">
                        <img src="" id="storeImage" class="w-full h-full object-cover" />
                    </div>
                    <div class="flex-1 space-y-4">
                        <div>
                            <label for="storeName" id="storeName" class="block text-sm font-medium text-gray-700">스토어명</label>
                            <label for="storeAddress" id="storeAddress" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">주소</label>
                            <!-- <input type="text" id="storeName" name="storeName" placeholder="스토어이름" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"> -->
                        </div>
                        <!-- <div class="grid grid-cols-3 gap-4"> -->
                        <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"> -->
                        <!-- 사진바꾸기 -->
                        <!-- </button> -->
                        <!-- <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"> -->
                        <!-- 메뉴관리 -->
                        <!-- </button> -->
                        <!-- <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"> -->
                        <!-- 주문목록 -->
                        <!-- </button> -->
                        <!-- </div> -->
                    </div>
                </div>
                <!-- <div class="mt-6"> -->
                <!-- <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-6 w-full rounded focus:outline-none focus:shadow-outline" type="button"> -->
                <!-- 스토어 수정 -->
                <!-- </button> -->
                <!-- </div> -->
            </div>

            <ul class="info_tab nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="tab_btn menu_tab_btn nav-link active" id="userinfo-tab" data-bs-toggle="tab" data-bs-target="#userinfo" type="button" role="tab" aria-controls="userinfo" aria-selected="true">메뉴</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="tab_btn review_tab_btn nav-link" id="myreview-tab" data-bs-toggle="tab" data-bs-target="#myreview" type="button" role="tab" aria-controls="myreview" aria-selected="false">내리뷰목록</button>
                </li>
            </ul>

            <!-- 내용 -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="userinfo" role="tabpanel" aria-labelledby="userinfo-tab"><div id="menu-container"></div></div>
                <div class="tab-pane fade" id="myreview" role="tabpanel" aria-labelledby="myreview-tab">
                    <div class="review_box bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <h1 class="text-xl font-semibold">가게상호명</h1>
                            <p class="text-gray-600">별점평균/후기갯수412</p>
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="rating"> 이번 주문 어떠셨나요? </label>
                            <div class="star-rating mb-4"><input type="radio" id="star5" name="rating" value="5" /><label for="star5">☆</label> <input type="radio" id="star4" name="rating" value="4" /><label for="star4">☆</label> <input type="radio" id="star3" name="rating" value="3" /><label for="star3">☆</label> <input type="radio" id="star2" name="rating" value="2" /><label for="star2">☆</label> <input type="radio" id="star1" name="rating" value="1" /><label for="star1">☆</label></div>
                            <textarea id="review-text" name="review-text" rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="리뷰텍스트란"></textarea>
                        </div>
                        <div class="flex items-center justify-between">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">리뷰쓰기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footerOrder id="footerOrder" style="display: none">
            <p>장바구니로 이동</p>
        </footerOrder>

        <%-include('footer')%>
        <div id="storeId" data-store-id="<%=storeId%>"></div>

        <% if(data.isLogin) { %>
        <div id="userId" data-user-id="<%=data.user.id%>"></div>
        <% } %>
    </body>
    <script src="<%= path %>javascripts/store.js"></script>
</html>
