<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='<%= path %>stylesheets/style.css' />
    <style>
        .image-placeholder {
            background-color: #E2E8F0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #64748B;
            font-size: 1.5rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
  <%-include('header')%>
  
  <div style="display: flex; align-items: center; justify-content: center; margin: 10px;">
    <label id="category-name"></label>
  </div>
  <div id = "store-container"></div>

  <%-include('footer')%>

  <div id="categoryId" data-category-id="<%=categoryId%>"></div>
  
</body>
<script src="<%= path %>/javascripts/storeList.js"></script>
</html>